rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Regras para a coleção 'companies'
    match /companies/{companyId} {
      // Leitura, atualização e deleção: Permitido apenas se o ID do usuário for o mesmo que o 'ownerId' do documento.
      allow read, update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
      
      // Criação: Permitido para qualquer usuário autenticado, desde que o 'ownerId' do novo documento seja o ID do próprio usuário.
      allow create: if request.auth != null && request.resource.data.ownerId == request.auth.uid;
    }

    // Regras para a coleção 'leads'
    match /leads/{leadId} {
      // Leitura, atualização e deleção: Permitido se o usuário for o dono da empresa à qual o lead pertence.
      // Isso é feito buscando ('get') o documento da empresa e verificando o 'ownerId'.
      allow read, update, delete: if request.auth != null && get(/databases/$(database)/documents/companies/$(resource.data.companyId)).data.ownerId == request.auth.uid;
      
      // Criação: Permitido se o usuário for o dono da empresa à qual o lead está sendo associado.
      allow create: if request.auth != null && get(/databases/$(database)/documents/companies/$(request.resource.data.companyId)).data.ownerId == request.auth.uid;
    }

  }
}
